#foto{border-radius: 100px;
            width: 200px;
            position: relative;
           left: 34%;
            display: inline-block;}
        
h1{text-align: center;}
h2{ color:#FFD54F;}
        
body{font-family: 'Montserrat', sans-serif;
        background-color: #E0E0E0;
        width: 700px;
        margin: 149px;
        margin-top: 10px;
        
        }

p{color:#424242;}

header{ font-family: sans-serif;
            background-color: #FAFAFA;
            color: #FFD54F;
            }

footer {background-color:;}
 #menu {list-style-type: none;
         margin: 0;
         padding: 0;
        overflow: hidden;
         background-color: #C0C0C0 ;}

#menu li {float: left;}

#menu li a {display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;}

#menu li a:hover{background-color: #ededed;}

#pxpg{width:42px;
    height:42px;
    border:0;}

#icGit, #icTwt, #icLkdn, {
        width:50px;
        height:50px;
        border:0;
        position: relative;
        left: 70%;
       }
header a{text-decoration: none;}
      
section{background-color:#FAFAFA;}

#listexp{display: inline;}
ul {color:#424242;
    list-style-type: none;}
