
h1{text-align: center;}
h2{ color:#FFD54F;}
        
body{font-family: 'Montserrat', sans-serif;
        background-color: #E0E0E0;
        width: 700px;
        margin: 149px;
        margin-top: 10px;
        
        }

p{color:#424242;
    text-align: justify;}

header{ border: 1px solid  #FAFAFA;
        font-family: 'Montserrat',sans-serif;
            background-color: #FAFAFA;
            color: #FFD54F;
            margin: 0;
            }
section, article{background-color:#FAFAFA;
                    padding: 10px;}

 #menu {list-style-type: none;
         margin: 0;
         padding: 0;
        overflow: hidden;
         background-color: #C0C0C0 ;}

#menu li {float: left;}

#menu li a {display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;}

#menu li a:hover{background-color: #ededed;}


header a{text-decoration: none;}
      
section{background-color:#FAFAFA;}
#imgLibro{
    padding: 10%;}

#imgViaj{width: 90%;
    padding-left: 24px;
    }
#iconArriba{
        width: 60px;
        height: 60px;
        border: 0;
        float: right;
        position: relative;
        left: 14%;
        top: 50%;       
}

footer {background-color:#FAFAFA;
        padding: 10px;}

